* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted black; */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    color: #333;
    /* footer abajo */
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto
}
body {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/028/636/070/small_2x/an-empty-director-chair-in-front-of-an-empty-film-set-gloomy-background-photo.jpg'); /* Ruta a tu imagen */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
/* Estilos generales */
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

/* Estilos para el logo y el título */
header div {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

header img {
    width: 100px; 
    height: auto; 
}

header h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: red;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 81, 0),
      0 0 82px rgb(255, 174, 0),
      0 0 92px rgb(255, 47, 0),
      0 0 102px #0fa,
      0 0 151px rgb(255, 13, 0);
}

/* Navegación */
nav {
    margin-top: 10px;;
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 50px;
    list-style: none;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

.active {
    font-weight: 900;
    background-color: black;
     border-radius: 8px;
     color: yellowgreen;
     padding: 5px 10px;
}

/* Main content */

main {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
}




section#inicio {
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
        flex: 2;

}

section#inicio h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
section#inicio p {
     margin-bottom: 20px;
}


section#inicio iframe {
    width: 80%;
    height: 60%; /* Hace que el iframe ocupe un 60% de la altura de section */
    max-height: 300px; /* Limita la altura en pantallas grandes */
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

aside h4 {
    margin-bottom: 20px;
}

aside {
    flex: 1;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

aside iframe {
    width: 100%;
    height: 100%; /* Hace que el iframe en aside ocupe toda su altura */
    max-height: 500px; /* Limita el tamaño del iframe en pantallas muy grandes */
    border: none;
    border-radius: 8px;
}

/* Sección de productos con Flexbox */
#productos {
    display: flex;
    justify-content: center; /* Centra la sección dentro de la página */
    flex-direction: column;
    text-align: center;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas dentro del contenedor */
    margin: 0 auto;
    gap: 5px; /* Espacio entre cada tarjeta */
}

.producto-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    max-width: 400px; /* Ancho máximo de la tarjeta */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    overflow: hidden; /* Para que el contenido de la tarjeta no se salga */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.456);
}

.producto-card:hover {
    transform: scale(1.03); /* Pequeño efecto de zoom al pasar el ratón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.producto-card img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Establece una altura máxima para que no se salga de la card */
    object-fit: scale-down;
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior de la imagen */
}

.producto-card h3 {
    margin: 10px 0;
    color: #333;
    font-size: 18px;
}

.producto-card p {
    color: #666;
    font-size: 14px;
}

.btn-agregar {
    margin-top: 10px;
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

/* Sección de reseñas con Grid */
#reseñas {
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
    padding: 20px;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reseñas {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.reseña {
    background-color: lightgrey;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

p#autor {
    font-size: 12px;
    text-align: end;
}

/* Estilos para el formulario de contacto */
#contacto {
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
    padding: 20px;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Footer */
footer p {
    margin: 0;
    font-size: 14px;
}

.producto-card, .carrito-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
/* Carrito */
/* Estilo general */
#carrito {
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
    padding: 20px;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#carrito-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#carrito-table th, #carrito-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#carrito-table img {
  width: 50px;
  height: auto;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
}

#carrito-total {
  font-size: 1.2em;
  margin: 10px 0;
}

#formulario-compra {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: relative; /* Asegura que no afecte la disposición */
    height: auto;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
  }

  #formulario-compra.visible {
    visibility: visible;
    opacity: 1;
  }

  .carrito-container {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .carrito-header, .carrito-item {
    display: table-row;
  }

  .carrito-header div, .carrito-item div {
    display: table-cell;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .carrito-item img.miniatura {
    width: 50px;
    height: auto;
  }

  .btn-finalizar {
    float: right;
    margin-top: 20px;
  }

/* DETALLES */
#detalles {

    justify-content: center; /* Centra la sección dentro de la página */
    flex-direction: column;
    text-align: center;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
    padding: 10px;
    background-color: #ffffff79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#producto-detalle {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.card detalle-card {
    width: 100%;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
     main {
        flex-direction: column;
        height: auto;
    }

    section#inicio, aside {
        max-width: 100%;
    }
    
    .productos {
        flex-direction: column;
        align-items: center;
    }

.producto-card {
        width: 45%; /* 2 cards por fila en pantallas pequeñas */
    }

    #logo {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    aside iframe {
        width: 80%;
        height: 100%;
    }

    .carrito-header div, .carrito-item div {
      display: block;
      width: 100%;
    }

    .carrito-item {
      margin-bottom: 10px;
    }

    .btn-finalizar {
      float: none;
      width: 100%;
    }
#carrito-table, #carrito-table th, #carrito-table td {
    font-size: 14px;
  }

  #formulario-compra form input {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
        color: red;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul {
        padding: 0;
    }

    iframe {
        height: 200px; /* Reduce la altura del iframe en móviles */
    }

     .producto-card {
        width: 100%; /* 1 card por fila en pantallas muy pequeñas */
    }
}
